<div class="d-flex mt-5">
  <% if opinion.author.avatar.attached? %>
    <image src="<%= (url_for(opinion.autor.avatar)) %>" class="img-fluid ms-4 rounded" width="80">
  <% else %>
    <img src="<%= asset_path 'user.png' %>" class="img-fluid ms-4 rounded-cirlce" width="80">
  <% end %>
  <div class="d-flex flex-column flex-star ms-3 mt-3">
    <h6 class="text-dark fs-6 font-weight-bold">
      <%= link_to opinion.author.fullname, user_path(opinion.author.id), class: 'text-decoration-none text-dark' %>
    </h6>
    <p class="c-feed fs-7">
      <%= opinion.text %>
    </p>
  </div>
</div>