/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

//Variables

$body-color: #f0f1f1;
$c-letter-sidebar: #62778A;
$bg-twitter: #53a7e7;
$c-nav-items: #337ab7;
$login-border: #bebfc1;
$signin-background: #f3f4f7;

.btn-primary {
  background-color: $bg-twitter;
}

div.col-md-12 {
  padding: 0;
}

//Sidebar

.back-username {
  background-color: #1b2a3d;
}

.back-sidebar {
  background-color: #213246
}

.body {
  font-family: "Poppins", sans-serif;
}

.bg-opinions {
  background-color: $body-color;
}

.c-letter-sidebar {
  color: $c-letter-sidebar
}

.border-black {
  border-bottom: solid 2px #172531;
}

.border-right-divisor {
  border-right: solid 2px #172531;
}

.bg-twitter {
  background-color: $bg-twitter;
}

.c-nav-items {
  color: $c-nav-items;
}

.c-twitter {
  color : $bg-twitter;
}

.signin-back {
  background-color: $signin-background;
}

//Login

.login-back {
  background-image: linear-gradient(to bottom right, #1b2a3d, #4e9fdc);
  height: 100%;
  width: 100%;
  position: absolute;
  padding: 80px;
}

.twitter-image {
  background-image: url("https://d3t4nwcgmfrp9x.cloudfront.net/upload/como-conseguir-mas-seguidores-twitter.jpg");
  background-size: cover;
  width: 100%;
  height: 550px;
}

.btn {
  justify-self: center;
  background-color: $bg-twitter !important;
  border-radius: 0;
  border: none;
  width: 80%;
  margin-top: 10px;
}

span.input-group-text {
  background-color: $bg-twitter;
}

.signup {
  width: 60%;
}

//edit profile

.mt-8 {
  margin-top: 80px;
}

































//Queries

@media only screen and (max-width : 1024px) {
  
  li.nav-item {
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
  }

  .divisor {
    border-bottom: solid 2px $c-nav-items;
    width: 60%;
    margin: 0 auto;
  }

  .edit-profile {
    margin-top: 0;
  }

}

@media only screen and (min-width : 1024px) {
  .sidebar {
    height: 98vh;
  }
}
