.border-gray-centered {
  width: 85%;
  margin: 0 auto;
}

.border-gray {
  border-bottom: solid 2px #ccc;
}

.border-topp {
  border-top: solid 2px #ccc;
}

.border-black {
  border-bottom: solid 2px #172531;
}

.border-right-divisor {
  border-right: solid 2px #172531;
}

.border-left {
  border-left: solid 1px #ccc;
}

.border-sides {
  border-left: solid 1px #ccc;
  border-right: solid 1px #ccc;
}
