@import 'variables.scss';

.c-twitter {
  color: $bg-twitter;
}

.c-feed {
  color: #ccc;
}

.back-username {
  background-color: #1b2a3d;
}

.back-sidebar {
  background-color: #213246;
}

.bg-opinions {
  background-color: $body-color;
}

.c-letter-sidebar {
  color: $c-letter-sidebar;
}

.bg-twitter {
  background-color: $bg-twitter;
}

.signin-back {
  background-color: $signin-background;
}

.c-nav-items {
  color: $c-nav-items;
}
